pre:has(.hljs) {
    position: relative;
    border-radius: 10px;
    background-color: transparent!important;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 20%) !important;
    overflow: hidden;
}
/*语法高亮*/
pre code.hljs {
    position: relative;
    display: block;
    overflow-x: auto;
    padding: 35px 20px 20px 20px!important;
}
pre:has(.hljs)::before {
    z-index: 1;
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    overflow: visible;
    width: 12px;
    height: 12px;
    border-radius: 16px;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    background-color: #fc625d;
    white-space: nowrap;
    text-indent: 75px;
    font-size: 16px;
    line-height: 12px;
    font-weight: 700;
}
pre:has(.hljs)::after {
    content: "JavaScript";
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    left: 0;
}
.hljs-ln {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
    padding-bottom: 5px;
}
.hljs-ln td {
    padding: 0;
}
.hljs-ln::-webkit-scrollbar {
    height: 10px;
    border-radius: 5px;
    background: #333;
}
.hljs-ln::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 5px;
}
.hljs-ln::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}
.hljs-ln-n {
    padding-right: 15px;
    padding-left: 10px;
    text-align: right;
}

pre:has(.hljs.language-html)::after,
pre:has(.hljs.language-xml)::after {
    content: "HTML/XML";
}
pre:has(.hljs.language-javascript)::after {
    content: "JavaScript";
}
pre:has(.hljs.language-c)::after {
    content: "C";
}
pre:has(.hljs.language-cpp)::after {
    content: "C++";
}
pre:has(.hljs.language-java)::after {
    content: "Java";
}
pre:has(.hljs.language-asp)::after {
    content: "ASP";
}
pre:has(.hljs.language-actionscript)::after {
    content: "ActionScript/Flash/Flex";
}
pre:has(.hljs.language-bash)::after {
    content: "Bash";
}
pre:has(.hljs.language-css)::after {
    content: "CSS";
}
pre:has(.hljs.language-asp)::after {
    content: "ASP";
}
pre:has(.hljs.language-cs)::after,
pre:has(.hljs.language-csharp)::after {
    content: "C#";
}
pre:has(.hljs.language-d)::after {
    content: "D";
}
pre:has(.hljs.language-golang)::after,
pre:has(.hljs.language-go)::after {
    content: "Go";
}
pre:has(.hljs.language-json)::after {
    content: "JSON";
}
pre:has(.hljs.language-lua)::after {
    content: "Lua";
}
pre:has(.hljs.language-less)::after {
    content: "LESS";
}
pre:has(.hljs.language-md)::after,
pre:has(.hljs.language-markdown)::after,
pre:has(.hljs.language-mkdown)::after,
pre:has(.hljs.language-mkd)::after {
    content: "Markdown";
}
pre:has(.hljs.language-mm)::after,
pre:has(.hljs.language-objc)::after,
pre:has(.hljs.language-obj-c)::after,
pre:has(.hljs.language-objective-c)::after {
    content: "Objective-C";
}
pre:has(.hljs.language-php)::after {
    content: "PHP";
}
pre:has(.hljs.language-perl)::after,
pre:has(.hljs.language-pl)::after,
pre:has(.hljs.language-pm)::after {
    content: "Perl";
}
pre:has(.hljs.language-python)::after,
pre:has(.hljs.language-py)::after,
pre:has(.hljs.language-gyp)::after,
pre:has(.hljs.language-ipython)::after {
    content: "Python";
}
pre:has(.hljs.language-r)::after {
    content: "R";
}
pre:has(.hljs.language-ruby)::after,
pre:has(.hljs.language-rb)::after,
pre:has(.hljs.language-gemspec)::after,
pre:has(.hljs.language-podspec)::after,
pre:has(.hljs.language-thor)::after,
pre:has(.hljs.language-irb)::after {
    content: "Ruby";
}
pre:has(.hljs.language-sql)::after {
    content: "SQL";
}
pre:has(.hljs.language-sh)::after,
pre:has(.hljs.language-shell)::after,
pre:has(.hljs.language-Session)::after,
pre:has(.hljs.language-shellsession)::after,
pre:has(.hljs.language-console)::after {
    content: "Shell";
}
pre:has(.hljs.language-swift)::after {
    content: "Swift";
}
pre:has(.hljs.language-vb)::after {
    content: "VB/VBScript";
}
pre:has(.hljs.language-yaml)::after {
    content: "YAML";
}